<div class="col-xl-4">
    <!--begin:: Widgets/Top Products-->
    <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text"> Forgot-password </h3>
          </div>
        </div>
       
      </div>
      <div class="m-portlet__body">
          <form [formGroup]="forgotPasswordForm" action=""  name="forgotPasswordForm" >
              <div class="form-group m-form__group"> <input class="form-control m-input" type="text" formControlName="emailId" placeholder="Email">
						<p *ngIf="forgotPasswordForm.controls.emailId.errors?.required" class="lbl-err">Please Enter email.</p>
          </div>
              <div class="m-login__form-action"> <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"(click)="forgotPassword()">Request</button>
                <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">Cancel</button>
                </div>
            </form>
        <!--begin::Widget5-->
       
        <!--end::Widget 5-->
      </div>
    </div>
    <!--end:: Widgets/Top Products-->
  </div>
  
  