.col-xl-4 {
    margin-left: 31% !important;
    margin-top: 7% !important;
}

.m-portlet.m-portlet--bordered-semi.m-portlet--full-height {
    width: 128% !important;
    height: 500% !important;
}
.lbl-err {
    color: red; 
}